<section class="content-header">
  <h1>
    Produto
    <small>{{status}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i>Home</a></li>
    <li><a href="#/produtos"><i class="fa fa-circle-o"></i>Produtos</a></li>
    <li class="active">{{vm.status}}</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary">
        <form role="form">
          <div class="box-body">
            <div class="form-group">
              <label for="descricao">Descrição</label>
              <textarea id="descricao" rows="10" cols="50" class="form-control"
                        ng-model="vm.produto.descricao"></textarea>
            </div>
          </div>
          <div class="box-footer">
            <button class="btn btn-primary" ng-show="vm.status=='Editar'" ng-click="vm.alterar()">Alterar</button>
            <button class="btn btn-primary" ng-show="vm.status!='Editar'" ng-click="vm.salvar()">Inserir</button>
            <a class="btn btn-primary" href="#/produtos">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
