<section class="content-header">
  <h1>
    Produtos
    <small>Listagem</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i>Home</a></li>
    <li class="active"><i class="fa fa-circle-o"></i> Produtos</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <a class="btn btn-primary" style="width:91px;" href="#/produtos/inserir">Inserir</a>
          <br/><br/>
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Açoes</th>
              <th>Código</th>
              <th>Descrição</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="produto in vm.produtos">
              <td style="width:170px;">
                <a style="width:75px;" class="btn btn-sm btn-primary" href="#/produtos/editar/{{produto.codigo}}">
                  <span class="glyphicon glyphicon-pencil"></span> Editar
                </a>
                <button style="width:75px;" class="btn btn-sm btn-primary" ng-click="vm.deletar(produto)">
                  <span class="glyphicon glyphicon-trash"></span> Deletar
                </button>
              </td>
              <td>{{produto.codigo}}</td>
              <td>{{produto.descricao}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
