<section class="row wrapper-page border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h3 class="mtb">Produto</h3>
        <ol class="breadcrumb">
            <li><a href="#/"><i class="fa fa-home fa-fw"></i>Home</a></li>
            <li class="active"><i class="fa fa-archive fa-fw"></i></i> Produtos</li>              
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</section>

<section class="content content grey lighten-4">
  <div class="row">
    <div class="col-xs-12">
      <div class="box shadow-1-box animated fadeInRight">
        <div class="box-body">
        
          <a class="btn btn-success btn-flat" href="#/produtos/inserir"><i class="fa fa-plus"></i> Adicionar</a>

          <!-- Button trigger modal 
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Launch demo modal
          </button>-->   
          <br> <br>
          
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>
              <tr>              
                <th>Código</th>
                <th>Descrição</th>
                <th>Ações</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="produto in vm.produtos">              
                <td>{{produto.codigo}}</td>
                <td>{{produto.descricao}}</td>
                <td>
                  <a class="btn btn-primary btn-flat" href="#/produtos/editar/{{produto.codigo}}"><i class="fa fa-pencil"></i>
                  </a>
                  <button class="btn btn-danger btn-flat" ng-click="vm.deletar(produto)"><i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div><!-- /.box-body -->

        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Modal 
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Inserir</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea id="descricao" rows="6" cols="50" class="form-control"
                      ng-model="vm.produto.descricao"></textarea>
            </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary" ng-show="vm.status=='Editar'" ng-click="vm.alterar()">Alterar</button>
          <button type="button" class="btn btn-success" ng-show="vm.status!='Editar'" ng-click="vm.salvar()" data-dismiss="myModal">Inserir</button>
          <a class="btn btn-danger" href="#/produtos" data-dismiss="modal">Cancelar</a>      
        </div>
      </div>
    </div>
  </div>
-->

</section>
