/*
 * Skin: Sth Blue Light
 * ----------
 */
.skin-sth-blue-light .main-header .navbar {
  background-color: #01579b;
}
.skin-sth-blue-light .main-header .navbar .nav > li > a {
  color: #ffffff;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}
.skin-sth-blue-light .main-header .navbar .nav > li > a:hover,
.skin-sth-blue-light .main-header .navbar .nav > li > a:active,
.skin-sth-blue-light .main-header .navbar .nav > li > a:focus,
.skin-sth-blue-light .main-header .navbar .nav .open > a,
.skin-sth-blue-light .main-header .navbar .nav .open > a:hover,
.skin-sth-blue-light .main-header .navbar .nav .open > a:focus,
.skin-sth-blue-light .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-sth-blue-light .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-sth-blue-light .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-sth-blue-light .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-sth-blue-light .main-header .navbar .sidebar-toggle:hover {
  background-color: #367fa9;
}
@media (max-width: 767px) {
  .skin-sth-blue-light .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-sth-blue-light .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-sth-blue-light .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-sth-blue-light .main-header .logo {  
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-sth-blue-light .main-header .logo:hover {
  
}
.skin-sth-blue-light .main-header li.user-header {
  background-color: #424242;
}
.skin-sth-blue-light .content-header {
  background: transparent;
}
.skin-sth-blue-light .wrapper,
.skin-sth-blue-light .main-sidebar,
.skin-sth-blue-light .left-side {
  background-color: #fafafa;
}
.skin-sth-blue-light .content-wrapper,
.skin-sth-blue-light .main-footer {
  border-left: 0px solid #d2d6de;
}
.skin-sth-blue-light .user-panel > .info,
.skin-sth-blue-light .user-panel > .info > a {
  color: #444444;
}
.skin-sth-blue-light .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-sth-blue-light .sidebar-menu > li.header {
  color: #fff;
  background-color: #01579b;
  font-size: 15px;
  font-weight: 600;

}
.skin-sth-blue-light .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  border-top: 1px solid #e0e0e0;   
  font-weight: 400;
}
.skin-sth-blue-light .sidebar-menu > li:hover > a,
.skin-sth-blue-light .sidebar-menu > li.active > a {
  color: #424242;
  background: #f5f5f5;
  border-left-color: #00A7D0;
  font-weight: 600;
}
.skin-sth-blue-light .sidebar-menu > li.active {
  border-left-color: #01579b;

}
.skin-sth-blue-light .sidebar-menu > li.active > a {
  font-weight: 600;
  color: #424242;
}
.skin-sth-blue-light .sidebar-menu > li > .treeview-menu {
  background: #eee;
}
.skin-sth-blue-light .sidebar a {
  color: #424242;
}
.skin-sth-blue-light .sidebar a:hover {
  text-decoration: none;
}
.skin-sth-blue-light .treeview-menu > li > a {
  border-top: 1px solid #fafafa;
  color: #424242;
  font-size: 13px;
  padding: 12px 5px 12px 30px;  
}
.skin-sth-blue-light .treeview-menu > li.active > a,
.skin-sth-blue-light .treeview-menu > li > a:hover {
  background: #eee;
  color: #424242;
  border-left: 3px solid #0277bd;
  border-top: 1px solid #e0e0e0;  
  font-weight: 600;
}
.skin-sth-blue-light .treeview-menu > li.active > a {
  font-weight: 400;
}
.skin-sth-blue-light .sidebar-form {
  border-radius: 0px;
  border: 0px solid #d2d6de;
  margin: 8px 8px; 
  margin-bottom: 12px; 
}
.skin-sth-blue-light .sidebar-form input[type="text"],
.skin-sth-blue-light .sidebar-form .btn {
  box-shadow: none;
  background-color: #eee;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-sth-blue-light .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0px;
}
.skin-sth-blue-light .sidebar-form input[type="text"]:focus,
.skin-sth-blue-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-sth-blue-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-sth-blue-light .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .skin-sth-blue-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}
.skin-sth-blue-light .main-footer {
  border-top-color: #d2d6de;
}
.skin-sth-blue-light.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-sth-blue-light.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}

/***************************
 Adicionando Fonte Open Sans
***************************/

@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en");

body {  
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;  
  font-size: 13px;
  color: #000;
}

/* H1 - H6 font */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
h3,
h4,
h5 {
  margin-top: 5px;
  font-weight: 600;
}

.label {
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 600;
}

.badge {
  font-family: 'Open Sans';
  font-size: 11px;
  font-weight: 600;
}

.main-header .logo {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**************************
 Correções no Menu do Topo
**************************/

.main-header>.navbar { 
    border: none;
    min-height: 50px;
    border-radius: 0;
}

.navbar-fixed-top, .navbar-static-top {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/**************************
 Correções no Menu Lateral
**************************/

.sidebar-left-shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.sidebar-menu {
  margin-top: 5px;
}

.sidebar-menu .treeview-menu {
  padding-left: 0px;
}
.sidebar-menu .treeview-menu .treeview-menu {
  padding-left: 0px;
}

/*Adicionando margens nos links da lateral*/

 .treeview-menu-ml15 {
    margin-left: 15px !important;
  }

.treeview-menu-ml30 {
    margin-left: 30px !important;
  }
.treeview-menu-ml45 {
    margin-left: 45px !important;
  } 

 /*Logomarca Menu Lateral*/ 

.main-sidebar,
.left-side {
  padding-top: 85px; 
}

@media (max-width: 767px) {
 .main-sidebar,
 .left-side {  
   margin-top: 50px;
 }
}

.user-panel-logo {
  margin-top: 0px;
}

.main-header {     
  max-height: 80px;     
}

.main-header .logo {   
  height: 70px;  
  margin-top: 12px;
}

.main-header .logo-mini {   
  padding: 0 10px;
}

.main-header .logo-lg {
  max-height: 70px;   
  padding: 0 0px;
}

@media (min-width: 768px){
.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
  display: block;     
}
}

/**************************
 Ajuste no Componente Box
 *************************/
.box {
  position: relative;
  border-radius: 0px;
  background: #ffffff;
  border-top: 0px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.box-title {
  color: #000;  
}

/************************************
 Ajuste no Component Content-wrapper
***********************************/

.content-wrapper, .right-side {
    background-color: #f3f3f4;
}

@media (max-width: 767px){
.fixed .content-wrapper, .fixed .right-side {
    padding-top: 50px;
}
}

/********************************
 Ajuste no Component Breadcrumbs
*********************************/

.breadcrumb {
  padding: 6px 0px;
  margin-bottom: 4px;
  list-style: none;
  background-color: #fff;
  border-radius: 0px;
}
.mtb{
  margin-top: 12px;
  margin-bottom: 0px;
}
.white-bg {
    background-color: #ffffff;
}
.page-heading {
    border-bottom: none !important;
    border-top: 0;
    padding: 0px 10px 20px 10px;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.34), 0 0px 6px 0px rgba(0, 0, 0, 0.14);
}
.wrapper-page {
    padding: 0 20px;
}
.border-bottom {
    border-bottom: 0px solid #e7eaec !important;
}



/*********************************
 Menu da Página Home ou Dashboard
*********************************/

 .menu-box {
   display: block;
   min-height: 120px;
   background: #fff;
   width: 100%;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   border-radius: 2px;
   margin-bottom: 15px;
 }

 .menu-box-icon {
   border-top-left-radius: 2px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 2px;
   display: block;
   float: left;
   height: 100%;
   width: 30%;
   text-align: center;
   font-size: 5em;
   line-height: 120px;
   background: rgba(0, 0, 0, 0.2);
 }
 
 .menu-box-text { 
   display: block;
   float: left;
   height: 100%;
   width: 70%; 
   font-size: 3rem !important;
   font-weight: 400 !important; 
   text-align: center;  
   line-height: 120px;
 }



 



